body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0d1117;
  color: #c9d1d9;
}

.site-header {
  border-bottom: 1px solid #21262d;
  background: #0d1117;
  position: sticky;
  top: 0;
}

.header-inner {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 1.5rem;
}

.nav-left a {
  text-decoration: none;
  color: #c9d1d9;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-left a:hover {
  color: #58a6ff;
}

#theme-toggle {
  background: none;
  border: none;
  color: #c9d1d9;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#theme-toggle:hover {
  transform: rotate(20deg);
}

.hero {
  display: flex;
  text-align: center;
  justify-content: space-between; 
  padding: 50px 0px;
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #8b949e;
  line-height: 1.6;
}

.left-hero {
    flex: 1;
    padding: 20px;
}

.right-hero {
    flex: 1;
    padding: 20px;
}


.profile {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}


.site-footer {
  border-top: 1px solid #21262d;
  background: #0d1117;
  text-align: center;
}

.socials {
    padding: 50px;
}

.social-links {  
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  gap: 1.5rem;
}

.social-links a {
  background-color: #21262d;
  border-radius: 10%;
  padding: 7px;
  color: #c9d1d9;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.social-links a:hover {
  font-weight: 550;
  padding: 8px;
}

.footer-text {
  color: #8b949e;
  font-size: 0.9rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .social-links {
    gap: 1rem;
  }
  .footer-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .header-inner {
    flex-direction: column; 
    gap: 1rem;
  }

  .nav-left {
    justify-content: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}


